.logo {
  height: 60px;
  width: 120px;
}
.topBar {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
}

.topBarCenter {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
